body {
    background: #111;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e1e1e;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
}

button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: orange;
    color: black;
    font-weight: bold;
}

button:hover {
    background: white;
}
